@charset "UTF-8";
@author "Gabriel da Cruz da Conceição";
body{
    font-family: system-ui;
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding:  10px 0px 0px 40px;
    text-align: left;
    background-image: url(/pics/background.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    line-height: 15px;
}

#nome{ 
    font-variant:small-caps;
}

.cabecalho{
    display: flex;
    align-items:center;
    gap: 30px;
    padding:20px
}

.informacoes h1 {
    margin: top 0;
    margin-bottom: 50px;
    font-size: 60px;
}

.informacoes p{
    font-family: system-ui;
    font-size:  20px;
}

.cabecalho figure img{
    border-radius: 10px;
    object-fit: cover;
}

#linkedin{
    margin-top: 0px;
}

section p{
    line-height: 1.6;
    text-align: justify;
}